[submodule "temporal/edu-101-python-code"]
	path = temporal/edu-101-python-code
	url = https://github.com/temporalio/edu-101-python-code
[submodule "temporal/samples-python"]
	path = temporal/samples-python
	url = https://github.com/temporalio/samples-python.git
